annotated-types==0.7.0
anyio==4.9.0
awesome-babushka-commons @ git+https://github.com/himansu9805/awesome-babushka-commons.git@787e959e903a77ace1287a188ebb1d8c91f388c0
beautifulsoup4==4.14.3
boto3==1.42.54
botocore==1.42.54
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
dnspython==2.7.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.116.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
jmespath==1.1.0
pyasn1==0.6.2
pydantic==2.11.7
pydantic_core==2.33.2
pymongo==4.13.2
python-dateutil==2.9.0.post0
python-jose==3.3.0
python-multipart==0.0.22
requests==2.32.4
rsa==4.9.1
s3transfer==0.16.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
starlette==0.47.2
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
uvicorn==0.35.0
